# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
logs/

# Binary and build artifacts
*.war
*.jar
*.ear

# Maven and Gradle build directories
/build/
/out/
**/target/

# Include Maven Wrapper
!.mvn/
!.mvn/wrapper/*
!mvnw
!mvnw.cmd

# IntelliJ IDEA configuration files
.idea/
/*.iml
*.ipr
*.iws

# Eclipse configuration files
*.classpath
*.project
*.settings/

# NetBeans configuration files
nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code configuration files
.vscode/

# Gradle configuration files
.gradle/
/gradle/
/!gradle/wrapper/gradle-wrapper.jar
.gradle/*

# Secrets and configuration files
.env
.env.*.local
*.properties
*.yaml

# Database files
*.h2.db
*.mv.db
*.sqlite
*.db

# File system cache
**/.cache/
**/.sass-cache/

# Test output
/test-output/
